{% extends "common.html" %}

{% block title %}About LocksportBazaar{% endblock %}

{% block content%}
<h2>About LocksportBazaar</h2>
<p>LocksportBazaar was created by N3rdL0rd for <a href="https://discord.gg/lockpicking">Lockpickers United</a> (LPU) as
    an alternative to the Discord forums used for the Bazaar, which were slow, clunky, and almost impossible to search.
    LocksportBazaar aims to be a complete replacement for the Bazaar forums that gives buyers the ability to quickly
    find the listings they want while giving sellers powerful tools to help manage their products.</p>
{% endblock %}