{% extends "common.html" %}

{% block title %}Change Password | LocksportBazaar{% endblock %}

{% block content%}
<h2>Change Account Password</h2>
<p>Changing your password will log you out of all current sessions, including this one.</p>
{% if error %}
<p style="color: rgb(255, 156, 156);">{{ error|safe }}</p>
{% endif %}
<form method="POST">
    <label for="current">Current Password</label>
    <input type="password" name="current" id="current">
    <label for="new">New Password</label>
    <input type="password" name="new" id="new">
    <label for="confirm">Confirm New Password</label>
    <input type="password" name="confirm" id="confirm">
    <br>
    <input type="submit" value="Change Password">
</form>
{% endblock %}
