{% extends "common.html" %}

{% block title %}Register | LocksportBazaar{% endblock %}

{% block content%}
<h2>Register</h2>
{% if error %}
<p style="color: rgb(255, 156, 156);">{{ error|safe }}</p>
{% endif %}
<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Register">
</form>
<br>
<span>Already have an account? <a href="/login" class="nav_link">Log in</a></span>
{% endblock %}
