{% extends "common.html" %}
{% from "carousel.html" import carousel with context %}

{% block title %}WTB Post | LocksportBazaar{% endblock %}

{% block content%}
<center>
<h2>WTB: {{ post['title'] }}</h2> 
{% if authed %}{% if user['username'] == post['poster'] or user['admin'] %}<a href="/wtb/close/{{ post['id'] }}" class="nav_link">Close post</a>{% endif %}{% endif %}
<div class="seller">Poster: <a href="/user/{{ post['poster'] }}">{{ post['poster'] }}</a></div>
<hr>
<p>{{ post['body'] }}</p>
</center>
<div style="display: inline-block;">
    <center>
        {% if post['lpubelts'] %}
            <a href="https://lpubelts.com/#/locks?id={{ post['lpubelts'] }}" target="_blank"><button>View on LPUBelts</button></a>
        {% endif %}
        <a href="/wtb"><button>Back</button></a>
    </center>
</div>
<br>
{% if post['comments']|length > 0 %}
<h4>Comments</h4>
{% for comment in post['comments'] %}
<span><a href="/user/{{ comment['poster'] }}">{{ comment['poster'] }}</a>: {{ comment['body'] }}</span>
{% endfor %}
{% endif %}
<p></p>
<form method="POST">
    <textarea name="body" rows="4" cols="50" required placeholer="Leave a comment..."></textarea><br>
    <input type="submit" value="Post Comment">
</form>
{% endblock %}
